.profile {
    background-color: #4C8BF4 !important;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    padding: 15px 10px;
    letter-spacing: 1px;
}

.hero {
    font-size: 24px;
    font-weight: 400;
}